In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("all_games.csv")
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18800 entries, 0 to 18799
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         18800 non-null  int64
 1   name          18800 non-null  object
 2   platform      18800 non-null  object
 3   release_date  18800 non-null  object
 4   summary       18686 non-null  object
 5   meta_score    18800 non-null  int64
 6   user_review   18800 non-null  object
dtypes: int64(2), object(5)
memory usage: 1.0+ MB

In [3]:
missing_values = dataset.isnull().sum()

In [4]:
print(missing_values)

index             0
name              0
platform          0
release_date      0
summary         114
meta_score        0
user_review       0
dtype: int64

In [6]:
dataset["summary"] = dataset["summary"].fillna('non data')

In [7]:
categorical_columns = dataset.select_dtypes(include=['object']).columns

for column in categorical_columns:
    unique_values = dataset[column].unique()
    value_counts = dataset[column].value_counts()
    print(f"\nУникальные значения для {column}:\n{unique_values}")
    print(f"\nПодсчеты значений для {column}:\n{value_counts}")

Уникальные значения для name:
['The Legend of Zelda: Ocarina of Time' "Tony Hawk's Pro Skater 2"
 'Grand Theft Auto IV' ... 'Drake of the 99 Dragons'
 'Afro Samurai 2: Revenge of Kuma Volume One'
 'Infestation: Survivor Stories (The War Z)']

Подсчеты значений для name:
name
Cars                                         9
Madden NFL 07                                9
Madden NFL 06                                8
Iron Man                                     7
Resident Evil 2                              7
                                            ..
Phantom: Covert Ops                          1
Hydro Thunder Hurricane                      1
The Stretchers                               1
Broken Sword 5 - The Serpent's Curse         1
Infestation: Survivor Stories (The War Z)    1
Name: count, Length: 12254, dtype: int64

Уникальные значения для platform:
[' Nintendo 64' ' PlayStation' ' PlayStation 3' ' Dreamcast' ' Xbox 360'
 ' Wii' ' Xbox One' ' PC' ' Switch' ' PlayStation 2' ' PlayStation 4'
 ' GameCube' ' Xbox' ' Wii U' ' Game Boy Advance' ' 3DS' ' Xbox Series X'
 ' DS' ' PlayStation Vita' ' PlayStation 5' ' PSP' ' Stadia']

Подсчеты значений для platform:
platform
 PC                  4864
 PlayStation 4       2056
 Xbox 360            1644
 PlayStation 2       1414
 Switch              1399
 PlayStation 3       1256
 Xbox One            1179
 Xbox                 789
 DS                   720
 Wii                  655
 PSP                  512
 GameCube             448
 Game Boy Advance     438
 3DS                  396
 PlayStation Vita     257
 PlayStation          187
 Wii U                184
 Dreamcast            125
 PlayStation 5        124
 Xbox Series X         77
 Nintendo 64           71
 Stadia                 5
Name: count, dtype: int64

Уникальные значения для release_date:
['November 23, 1998' 'September 20, 2000' 'April 29, 2008' ...
 'July 5, 2007' 'April 25, 2001' 'July 6, 2006']

Подсчеты значений для release_date:
release_date
November 14, 2006    48
November 13, 2007    41
March 20, 2007       40
November 10, 2020    34
November 18, 2012    33
                     ..
August 28, 2006       1
February 24, 2021     1
March 19, 2015        1
April 7, 2021         1
July 6, 2006          1
Name: count, Length: 4533, dtype: int64

Уникальные значения для summary:
['As a young boy, Link is tricked by Ganondorf, the King of the Gerudo Thieves. The evil human uses Link to gain access to the Sacred Realm, where he places his tainted hands on Triforce and transforms the beautiful Hyrulean landscape into a barren wasteland. Link is determined to fix the problems he helped to create, so with the help of Rauru he travels through time gathering the powers of the Seven Sages.'
 "As most major publishers' development efforts shift to any number of next-generation platforms, Tony Hawk 2 will likely stand as one of the last truly fantastic games to be released on the PlayStation."
 '[Metacritic\'s 2008 PS3 Game of the Year; Also known as "GTA IV"] What does the American Dream mean today? For Niko Belic, fresh off the boat from Europe. It\'s the hope he can escape his past. For his cousin, Roman, it is the vision that together they can find fortune in Liberty City, gateway to the land of opportunity. As they slip into debt and are dragged into a criminal underworld by a series of shysters, thieves and sociopaths, they discover that the reality is very different from the dream in a city that worships money and status, and is heaven for those who have them an a living nightmare for those who don\'t. [Rockstar Games]'
 ...
 "Drake is out for revenge in a supernatural Hong Kong world. You'll join Drake in 25 intense missions, as he battles ruthless villains and female assassins with an array of firearms, short and long blade weapons, and thrown melee weapons. Use Drake's power and agility to slow down the action, fire guns in any direction, and run and backflip off of walls. When you become injured, you can feed on the souls of the dead to replenish your health."
 'Head out on a journey of redemption, driven by bitter-sweet revenge. The saga of Afro Samurai continues but this time follows the path of Kuma, one of Afro’s closest childhood friends.'
 '(Formerly known as "The War Z") It has been 5 years since the outbreak, giving rise to a post-apocalyptic nightmare with 95% of the human race wiped out. To survive, you\'ll require food, weapons, and other supplies. Some of you will scavenge as you negotiate the terrain, others will be forced to fight for survival as they encounter zombies and other players. Every decision has an effect on whether you live or how quickly you meet your death.']

Подсчеты значений для summary:
summary
non data                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           114
LEGO Indiana Jones: The Original Adventures takes the fun and creative construction of LEGO and combines it with the wits, daring and non-stop action from the original cinematic adventures that enthralled audiences everywhere (Indiana Jones and the Raiders of the Lost Ark, Indiana Jones and the Temple of Doom and Indiana Jones and the Last Crusade). With a unique tongue-in-cheek take on the original adventures, LEGO Indiana Jones follows Dr. Jones escapades through the jungles of South America to the mountaintops of India. Fans can build, battle and brawl their way through their favorite cinematic moments, from Indy's entanglements with snakes to his dashing boulder run. Pop culture's most iconic archeologist whips through all the classic moments with the help of a host of supporting characters including Marion Ravenwood and Short Round. Players can also mix and match the body parts of more than 60 playable characters to create new heroes just as they could in the LEGO Star Wars games. [LucasArts]                                                                                                                                                                                                                                                                                                                                                                                                                                                                 7
The game involves players creating and destroying various types of blocks in a three dimensional environment. The player takes an avatar that can destroy or create blocks, forming fantastic structures, creations and artwork across the various multiplayer servers in multiple game modes.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       7
Iron Man, an explosive third-person action shooter game that pits one of the world's most renowned Super Heroes against unspeakable odds, draws its story from the upcoming movie while also incorporating story elements from original Iron Man comic books. Using the advanced technology in Iron Man's suits of armour, gamers can take advantage of the wide array of high-impact weapons to strategically annihilate any enemy force standing in their way. Before tackling stunning and immense open battlefields, players can customise their armour suit as they encounter progressively more vicious enemies, and fight in epic battles that could challenge even the toughest Super Heroes. [Sega]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         7
In Harry Potter and the Order of the Phoenix, Harry returns for his fifth year of study at Hogwarts and discovers that much of the wizarding community has been denied the truth about the teenager’s recent encounter with the evil Lord Voldemort. Fearing that Hogwarts' venerable Headmaster, Albus Dumbledore, is lying about Voldemort's return in order to undermine his power and take his job, the Minister for Magic, Cornelius Fudge, appoints a new Defense Against the Dark Arts teacher to keep watch over Dumbledore and the Hogwarts students. But Professor Dolores Umbridge's Ministry-approved course of defensive magic leaves the young wizards woefully unprepared to defend themselves against the dark forces threatening them and the entire wizarding community, so at the prompting of his friends Hermione and Ron, Harry takes matters into his own hands. Meeting secretly with a small group of students who name themselves "Dumbledore’s Army," Harry teaches them how to defend themselves against the Dark Arts, preparing the courageous young wizards for the extraordinary battle that lies ahead. With the ability to play multiple characters, including Harry Potter, Dumbledore and Sirius Black, the videogame of Harry Potter and the Order of the Phoenix offers fans the opportunity to wield a wand, explore all around Hogwarts, and experience one of the most exciting and dangerous years in the life of the Boy Who Lived. [Electronic Arts / Warner Bros.]      7
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ...
Baldur's Gate: Dark Alliance is an action RPG with an epic tale of intrigue, explosive spell effects, and highly detailed creatures and environments. You play a one of three customizable characters, who returns to Baldur's Gate and joins the fight against the darkness that threatens its peace. Baldur's Gate: Dark Alliance is the first game to feature the real time application of the Dungeons & Dragons 3rd Edition rules.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
An epic battle rages between the Forseti and the Muspell as the oceans rise and land disappears. The Forseti compel you to help protect their remaining land by taking charge of a powerful war machine--the Battle Engine. Whether in walking or in flying mode, you have access to an array of destructive weapons to use in expansive environments. You'll command a device so powerful and advanced that your battlefield decisions will shape the direction of each engagement and, ultimately, the entire war.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
The Triclops have invaded the Earth with a simple plan: the eradication of all human life! Become a tank commander and obliterate the alien invaders, or join the elite Triclops Guard and crush any human scum that stand in the way. Regardless of which side you choose, you'll possess enough weaponry to completely destroy your enemies. One team will decide the fate of the globe!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
Dip into the illegal underground racing experience on the Tokyo highways once again, flash your headlights at other cars to challenge them to races, and compete for money to upgrade your ride. "Zero," the latest game in the TXR series, adds more cars, more rival racers, and a larger street course which replicates 100 miles of actual Tokyo highways.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1

In [10]:
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [9]:
numeric_columns = dataset.select_dtypes(include=['int', 'float']).columns

for column in numeric_columns:
    plt.figure(figsize=(8, 5))
    plt.hist(dataset[column], bins=20, edgecolor='black')
    plt.title(f'Histogram for {column}')
    plt.xlabel(column)
    plt.ylabel('Frequency')
    plt.show()

NameError: name 'plt' is not defined

In [34]:
dataset_head = dataset.head()
dataset_head

,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,0,1975.0,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,genre fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000
1,1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,genre fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250
2,2,2015.0,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,genre fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500
3,3,2008.0,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500
4,4,2011.0,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,genre fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750

Вывод: Просмотр первых строк дает представление о структуре и содержании датасета.

In [36]:
numeric_stats = dataset.describe()
numeric_stats

,index,Publishing Year,Book_average_rating,Book_ratings_count,gross sales,publisher revenue,sale price,sales rank,units sold
count,1070.000000,1069.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000
mean,534.500000,1971.377923,4.007000,94909.913084,1856.622944,843.281030,4.869561,611.652336,9676.980374
std,309.026698,185.080257,0.247244,31513.242518,3936.924240,2257.596743,3.559919,369.849830,15370.571306
min,0.000000,-560.000000,2.970000,27308.000000,104.940000,0.000000,0.990000,1.000000,106.000000
25%,267.250000,1985.000000,3.850000,70398.000000,372.465000,0.000000,1.990000,287.500000,551.250000
50%,534.500000,2003.000000,4.015000,89309.000000,809.745000,273.078000,3.990000,595.500000,3924.000000
75%,801.750000,2010.000000,4.170000,113906.500000,1487.957500,721.180500,6.990000,932.500000,5312.250000
max,1069.000000,2016.000000,4.770000,206792.000000,47795.000000,28677.000000,33.860000,1273.000000,61560.000000

Вывод: Статистика числовых переменных помогает понять распределение данных и их характеристики.

In [38]:
unique_values_column = dataset['Book Name'].unique()
unique_values_column

array(['Beowulf', 'Batman: Year One', 'Go Set a Watchman', ...,
       'The Maltese Falcon', 'Night Road', 'Tripwire'], dtype=object)

Вывод: Просмотр уникальных значений в категориальном столбце помогает понять разнообразие данных в этом столбце.

In [41]:
filtered_data = dataset[dataset['Book_ratings_count'] > 100]
filtered_data

,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,0,1975.0,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,genre fiction,34160.00,20496.000,4.88,1,HarperCollins Publishers,7000
1,1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,genre fiction,12437.50,7462.500,1.99,2,HarperCollins Publishers,6250
2,2,2015.0,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,genre fiction,47795.00,28677.000,8.69,3,"Amazon Digital Services, Inc.",5500
3,3,2008.0,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.00,24750.000,7.50,3,Hachette Book Group,5500
4,4,2011.0,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,genre fiction,37952.50,22771.500,7.99,4,Penguin Group (USA) LLC,4750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065,1065,2014.0,Gray Mountain,John Grisham,eng,Intermediate,3.52,37379,nonfiction,104.94,62.964,0.99,1268,"Amazon Digital Services, Inc.",106
1066,1066,1989.0,The Power of One,Bryce Courtenay,eng,Excellent,4.34,57312,genre fiction,846.94,508.164,7.99,1270,Random House LLC,106
1067,1067,1930.0,The Maltese Falcon,Dashiell Hammett,eng,Intermediate,3.92,58742,genre fiction,846.94,508.164,7.99,1271,Hachette Book Group,106
1068,1068,2011.0,Night Road,Kristin Hannah,en-US,Excellent,4.17,58028,genre fiction,104.94,62.964,0.99,1272,"Amazon Digital Services, Inc.",106
1069,1069,1999.0,Tripwire,Lee Child,eng,Excellent,4.07,55251,genre fiction,316.94,0.000,2.99,1273,"Amazon Digital Services, Inc.",106

Вывод: Фильтрация данных по условию полезна для выделения интересующих нас подмножеств данных.

In [42]:
grouped_counts = dataset.groupby('Author').size().reset_index(name='counts')
grouped_counts

                                              Author  counts
0                      A.A. Milne, Ernest H. Shepard       1
1                                    A.S.A. Harrison       1
2                                        Abbi Glines       2
3                                       Adam Johnson       1
4                     Adam Mansbach, Ricardo CortÃ©s       1
..                                               ...     ...
730                                   William Styron       1
731                         Yana Toboso, Tomo Kimura       1
732                                      Zadie Smith       1
733  Ø£Ø­Ù„Ø§Ù… Ù…Ø³ØªØºØ§Ù†Ù…ÙŠ, Ahlam Mosteghanemi       1
734                                Ø£Ø­Ù…Ø¯ Ù…Ø±Ø§Ø¯       1

[735 rows x 2 columns]

Вывод: Группировка данных позволяет подсчитать количество записей по категориальному столбцу.

In [45]:
mean_by_category = dataset.groupby('Author_Rating')['Book_ratings_count'].mean()
mean_by_category

Author_Rating
Excellent        82905.889503
Famous           97414.301887
Intermediate    101946.995200
Novice           88728.166667
Name: Book_ratings_count, dtype: float64

Вывод: Этот запрос помогает выявить средние значения числовой переменной для каждой категории.

In [46]:
max_by_category = dataset.groupby('Author')['sales rank'].max()
max_by_category

Author
A.A. Milne, Ernest H. Shepard                      1199
A.S.A. Harrison                                     897
Abbi Glines                                         884
Adam Johnson                                       1097
Adam Mansbach, Ricardo CortÃ©s                      930
                                                   ...
William Styron                                     1059
Yana Toboso, Tomo Kimura                            960
Zadie Smith                                         524
Ø£Ø­Ù„Ø§Ù… Ù…Ø³ØªØºØ§Ù†Ù…ÙŠ, Ahlam Mosteghanemi    1107
Ø£Ø­Ù…Ø¯ Ù…Ø±Ø§Ø¯                                   984
Name: sales rank, Length: 735, dtype: int64

Вывод: Этот запрос показывает максимальные значения числовой переменной для каждой категории.

In [47]:
mean_by_two_categories = dataset.groupby(['Author', 'Book Name'])['Book_ratings_count'].mean().reset_index(name='mean_value')
mean_by_two_categories

,Author,Book Name,mean_value
0,"A.A. Milne, Ernest H. Shepard",The House at Pooh Corner,69102.0
1,A.S.A. Harrison,The Silent Wife,60323.0
2,Abbi Glines,"Fallen Too Far (Too Far, #1)",138871.0
3,Abbi Glines,"Never Too Far (Too Far, #2)",97616.0
4,Adam Johnson,The Orphan Master's Son,52765.0
...,...,...,...
1042,William Styron,Sophie's Choice,66923.0
1043,"Yana Toboso, Tomo Kimura",é»’åŸ·äº‹ I [Kuroshitsuji I],74378.0
1044,Zadie Smith,White Teeth,82474.0
1045,"Ø£Ø­Ù„Ø§Ù… Ù…Ø³ØªØºØ§Ù†Ù…ÙŠ, Ahlam Mosteghanemi",Ø§Ù„Ø£Ø³ÙˆØ¯ ÙŠÙ„ÙŠÙ‚ Ø¨Ùƒ,42958.0
1046,Ø£Ø­Ù…Ø¯ Ù…Ø±Ø§Ø¯,Ø§Ù„ÙÙŠÙ„ Ø§Ù„Ø£Ø²Ø±Ù‚,53187.0

Вывод: Группировка по двум категориальным столбцам и подсчет средних значений числовой переменной может помочь выявить зависимости между переменными.

In [49]:
count_by_category = dataset.groupby(['Author', 'units sold']).size().reset_index(name='counts')
count_by_category

                                               Author  units sold  counts
0                       A.A. Milne, Ernest H. Shepard         108       1
1                                     A.S.A. Harrison       28728       1
2                                         Abbi Glines         326       1
3                                         Abbi Glines       30456       1
4                                        Adam Johnson        4320       1
...                                               ...         ...     ...
1061                                   William Styron        4400       1
1062                         Yana Toboso, Tomo Kimura        2889       1
1063                                      Zadie Smith        4563       1
1064  Ø£Ø­Ù„Ø§Ù… Ù…Ø³ØªØºØ§Ù†Ù…ÙŠ, Ahlam Mosteghanemi        4320       1
1065                                Ø£Ø­Ù…Ø¯ Ù…Ø±Ø§Ø¯        2889       1

[1066 rows x 3 columns]

Вывод: Группировка и подсчет количества записей по двум переменным может помочь понять распределение данных.